* {
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    /* ---Color--- */
    --primary: #175CFF;
    --secondary: #0A083B;
    --secondary-light: #57586E;

    /* ---Font-Weight--- */
    --font-weight-bold: 700;
    --font-weight-semi: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
}

/* Main Settings */
a {
    text-decoration: none;
}

body{
    font-family: 'Exo', sans-serif;
}

body::-webkit-scrollbar {
    width: 16px;               /* ширина scrollbar */
  }
  body::-webkit-scrollbar-track {
    background: var(--secondary);        /* цвет дорожки */
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--primary);    /* цвет плашки */
    border-radius: 0px;       /* закругления плашки */
    border: 3px solid var(--primary);  /* padding вокруг плашки */
  }

.button-primary {
    display: inline-block;
    background: none;
    color: var(--primary);
    font-size: 16px;
    font-weight: 600;
    padding: 18px 44px;
    border-radius: 32px;
    transition: .2s;
    border: 2px solid var(--primary);
}

.button-primary-active {
    display: inline-block;
    background: var(--primary);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 18px 44px;
    border-radius: 32px;
    border: 2px solid var(--primary);
    transition: .2s;
}

.button-primary-active:hover {
    background: none;
    border: 2px solid var(--primary);
}

.button-primary:hover {
    background: var(--primary);
    color: #fff;
    border: 2px solid var(--primary);
}

.button-secondary {
    display: inline-block;
    color: var(--primary);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.button-submit {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    padding: 14px 40px;
    border-radius: 4px;
    border: none;
    background-color: var(--primary);
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
}

.nav-link {
    color: var(--secondary-light);
    font-size: 16px;
    font-weight: 600;
    margin-right: 32px;
}

.nav-link:hover {
    color: var(--secondary) !important;
}

h1 {
    font-size: 62px;
    font-weight: var(--font-weight-semi);
    color: var(--secondary);
    margin-bottom: 24px;
}

.title {
    font-size: 48px;
    font-weight: var(--font-weight-semi);
    color: var(--secondary);
    line-height: 60px;
}

.subtitle {
    font-size: 18px;
    font-weight: var(--font-weight-regular);
    color: var(--secondary-light);
    line-height: 32px;
}

section {
    padding: 70px 0;
}

/* Header style */
nav .button-primary {
    padding: 14px 36px;
}

nav {
    margin-top: 24px;
    margin: 24px 0;
}

header h1:before {
    content: "WELCOME!";
    display: block;
    font-size: 14px;
    font-weight: var(--font-weight-bold);
    color: var(--primary);
    margin-bottom: 16px;
}

header .subtitle {
    margin-bottom: 32px;
}

header .button-primary-active {
    margin-right: 16px;
}

header iframe {
    border-radius: 32px;
}

/* Our Customers */
.brend-customers {
    margin-top: 64px;
}

/* Minnimal Offices */
.minimal-offices {
    border-top: 2px solid #EBEBEB;
}

/* Habits */
.habits .title {
    max-width: 360px;
}

.benefits {
    line-height: 2px;
}

/* Our latest experiences */
.our-latest-experiances .title {
    margin-bottom: 64px;
}

.cards {
    cursor: pointer;
}

.card-info {
    margin-top: 24px;
}

.card-name {
    font-size: 24px;
    color: var(--secondary);
    font-weight: var(--font-weight-semi);
    line-height: 34px;
}

.tag {
    color: #CDCDD4;
    font-size: 14px;
    font-weight: var(--font-weight-semi);
}

/* Submit */
.submit {
    background: var(--primary);
    padding: 140px 0;
}

.submit .title {
    color: #fff;
    text-align: center;
}

.submit .subtitle {
    color: #D1DEFF;
    text-align: center;
}

.submit-input{
    position: relative;
    color: var(--secondary);
    font-size: 16px;
    font-family: 'Exo', sans-serif;
    font-weight: var(--font-weight-medium);
    padding: 20px 0 20px 24px;
    width: 100%;
    border-radius: 4px;
    border: none;
    background-color: #fff;
}

.submit-input::placeholder{
    color: #959EAD;
}


/* .submit-input::before{
    content: url(/assets/Img/Mainl-icon.svg);
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    top: 24px;
    right: 24px;
} */

/* Magic Trick */
.magic-trick .button-primary-active{
    margin-right: 16px;
}

.magic-trick .subtitle{
    margin-bottom: 32px;
}